div.game {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
}

table.sudoku {
  border: 3px solid #00b894;
  border-collapse: collapse;
  margin: 20px auto;
  user-select: none;
}

table.note {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2px;
  border: none;
  border-collapse: collapse;
  user-select: none;
  font-size: 0.5em;
  font-weight: bold;
}

table.note td.note-td {
  height: 1em;
  width: 1em;
  border: none;
}

div.choose-number,
div.choose-level,
div.control {
  display: flex;
  justify-content: center;
}

/* Square */
table.sudoku td {
  height: 2em;
  width: 2em;
  color: #2f3640;

  border: 1px solid #ccc;
  text-align: center;
  outline: none;
}

/* Kẻ dọc */
table.sudoku td.sudoku-td:nth-child(3),
table.sudoku td:nth-child(6) {
  border-right: 3px solid #00b894;
}

/* Kẻ ngang */
table.sudoku tr.sudoku-tr:nth-child(3),
table.sudoku tr.sudoku-tr:nth-child(6) {
  border-bottom: 3px solid #00b894;
}

button {
  font-weight: bold;
  color: #3498db;
  border: none;
  font-size: 1em;
  width: 2em;
  height: 2em;
  margin: 0px 0.1em;
  background-color: white;
  display: inline-block;
  border: 1px solid #3587b1;
  transition-property: all;
  transition-duration: 0.5s;
  cursor: pointer;
  outline: none;
  user-select: none;
}

button:hover {
  color: white;
  background-color: #3498db;
}

div.choose-level button {
  margin-top: 1em;
  width: auto;
}

div.control button {
  margin-top: 1em;
  width: auto;
}
